.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: left;
  width: 100%;
}

.Logout {
  margin: 0.6em 0;
  display: block;
  width: 100%;
  color: #2e2e2d;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  font-family: 'CrimsonText-SemiBold';
  font-size: 1.25em;
}

.Logout:hover {
  text-decoration: underline;
}

.HomeIcon {
  display: none;
}

@media(min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
    height: 100%;
    width: 100%;
    margin-left: 20vw;
    margin-top: 1.5vh;
  }

  .Logout {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    color: black;
    height: 100%;
    padding: 0.8em 0.6em;
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }

  .Logout:hover {
    text-decoration: underline;
  }

  .NavigationWrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}